<div>
  <h2><button mat-raised-button color="primary" (click)="closeWindow()" >Close</button></h2>
  <div id="viewerContent" ></div>

<div class="sticky-footer-no-background" fxLayout="row" fxLayoutAlign="space-between center" >
  <div class="sticky-footer-left" flex >
          
  </div>
  <div class="sticky-footer-center" flex>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <button mat-raised-button color="primary" (click)="closeWindow()" >Close</button>
  </div>
  <div class="sticky-footer-right" flex >
     &nbsp; 
  </div>
</div>
</div>

