<div mat-dialog-title class="dialog-header-rounded-left"><p style="margin-left:10px; margin-top:0px !important;">Add me to this Transfer List</p></div>
<div class="gray-rounded-section-topper">{{ data.jobclassDescription }}</div>
<div class="mat-elevation-z1" style="width: 100%">
 
  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Facility</mat-label>
    <select matNativeControl placeholder="Select Facility" [formControl]="facilityFormControl" name="facility">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let facility of facilities" [value]="facility.code" >
        {{facility.description}}
        </option>
    </select>
    <mat-error *ngIf="facilityFormControl.hasError('required')">
        Please select a facility
    </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Functional Unit</mat-label>
    <select matNativeControl placeholder="Select Functional Unit" [formControl]="functionalUnitFormControl" name="functionalunit">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let functionalunit of functionalUnits" [value]="functionalunit.chrtFld_Dept_ID" >
        {{functionalunit.description}}
        </option>
    </select>
    <mat-error *ngIf="functionalUnitFormControl.hasError('required')">
        Please select a functional unit
    </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Shift</mat-label>
    <select matNativeControl placeholder="Select Shift" [formControl]="shiftFormControl" name="shift">
        <option value="" label= "-- Select One --" selected></option>
        <option value="1" label= "All" ></option>
        <option *ngFor="let shift of shifts" [value]="shift.code" >
        {{shift.description}}
        </option>
    </select>
    <mat-error *ngIf="shiftFormControl.hasError('required')">
        Please select a shift
    </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Full-Time / Part-Time</mat-label>
    <select matNativeControl placeholder="Select Full-Time / Part-Time" [formControl]="ftptFormControl" name="ftpt">
        <option value="0" label= "Both" ></option>
        <option value="F" label= "Full-Time" [selected]='true'></option>
        <option value="P" label= "Part-Time" ></option>
    </select>
    
  </mat-form-field>

  <mat-dialog-actions style="margin-left:140px;">
    <button mat-button color="primary"  [mat-dialog-close]="true" (click)="createTransferlists()" >
      <mat-icon color="primary">check_circle</mat-icon>Save
    </button>
    <button mat-button color="primary" (click)="cancelClicked()" >
        <mat-icon>cancel</mat-icon>Cancel
      </button>
  </mat-dialog-actions>
</div>