<div mat-dialog-title class="dialog-header-rounded-left"><p style="margin-left:10px; margin-top:0px !important;">Add Me to This Transfer List</p></div>
<div class="dialog-header-rounded-top-left ">{{ data.jobclassDescription }}</div>
<div class="mat-elevation-z1" style="width: 100%">
  
  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Facility</mat-label>
    <select matNativeControl placeholder="Select Facility" [formControl]="facilityFormControl" name="facility">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let facility of facilities" [value]="facility.code" >
        {{facility.description}}
        </option>
    </select>
    <mat-error *ngIf="facilityFormControl.hasError('required')">
        Please select a facility
    </mat-error>
  </mat-form-field>
  <mat-dialog-actions style="margin-left:160px;">
    <button mat-button color="primary"  [mat-dialog-close]="true" (click)="createTransferlists()" >
      <mat-icon color="primary">check_circle</mat-icon>Save
    </button>
    <button mat-button color="primary" (click)="cancelClicked()" >
        <mat-icon>cancel</mat-icon>Cancel
      </button>
  </mat-dialog-actions>
</div>