
<div mat-dialog-title class="dialog-header-rounded-left"><p style="margin-left:10px;">Employee Profile</p></div>
<div class="mat-elevation-z1" style="width: 100%">
<div style="width: 90%">
<!-- <div fxLayout="column" fxLayoutAlign="space-around start" > -->
<form [formGroup]="employeeProfileForm">
    <div>
      <mat-form-field appearance="outline" style="width: 100%;margin-left:20px; margin-top:13px;" >
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" 
                        formControlName="firstName">
      </mat-form-field>
   
      <mat-form-field appearance="outline" style="width: 100%;margin-left:20px;" >
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" 
                        formControlName="lastName">
      </mat-form-field>
   
      <mat-form-field appearance="outline"  style="width: 100%;margin-left:20px;">
          <mat-label>Daytime Phone</mat-label>
          <input matInput placeholder="Daytime Phone" 
                          formControlName="phone">
          <mat-error *ngIf="employeeProfileForm.get('phone').hasError('required')">
            Phone number is required
          </mat-error>                          
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center" >
        <p flex style="padding-right: 10px;margin-left:20px; font-size: 14px; color: #2E4d7B;">Bilingual:</p>
        <mat-radio-group flex >
          <mat-radio-button flex style="padding-right: 10px;font-size: 14px; color: #2E4d7B;" value="1">Yes</mat-radio-button>
          <mat-radio-button flex style="padding-right: 10px;font-size: 14px; color: #2E4d7B;" value="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="outline" style="width: 100%;margin-left:20px;" > 
        <mat-label>Languages Spoken</mat-label>
        <textarea matInput placeholder="Languages Spoken"
                           formControlName="languages"></textarea>
      </mat-form-field>
 </div>
 <mat-dialog-actions style="margin-left:110px;">
  <button mat-button color="primary" 
                          (click)="save()"
                          [title]="employeeProfileForm.valid ? 'save employee profile' : 'Disabled until valid data provided'"
                          [disabled]="!employeeProfileForm.valid">
    <mat-icon color="primary">check_circle</mat-icon>Save
  </button>
  <button mat-button color="primary" (click)="dismiss()" >
      <mat-icon>cancel</mat-icon>Cancel
    </button>
  </mat-dialog-actions>
   
</form>
</div>
<br>Dirty: {{ employeeProfileForm.Dirty }}
<br>Touched: {{ employeeProfileForm.Touched }}
<br>Valid: {{ employeeProfileForm.valid }}
<br>Fname Value: {{ employeeProfileForm.controls.firstName.value | json  }}