<mat-card >
  <mat-card-header class="matcard-header-rounded-top-left">
        <mat-card-title>Transfer List Filtering</mat-card-title>
      </mat-card-header>
<div class="mat-elevation-z1" style="background-color: #f2f2f2;">
<mat-grid-list cols="7" rowHeight="60px" style="width:65%;">
  <mat-grid-tile  colspan="2">
    <button mat-raised-button  style="margin-left:20px;background-color: gainsboro;" click="FilterJobClass();" >Mental Health Assistant 1
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button  style="margin-left:20px;background-color: gainsboro;" >CVH
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" style="align-content: flex-start"> 
      <button mat-raised-button  style="margin-left:20px;background-color: gainsboro;" >GPD-B4N-Battell North-Male Rehab
        <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
      </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button  style="margin-left:20px;background-color: gainsboro;" >1st Shift
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button  style="margin-left:20px;background-color: gainsboro;  " (click)="mySelect.open()" >Full-Time
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
    <mat-select style="visibility:hidden;width: 0"
            #mySelect
            [formControl]="bordersControl"
            [disableOptionCentering]="true">
      <mat-option value="0">Both</mat-option>
      <mat-option value="1">Full-Time</mat-option>
      <mat-option value="2">Part-Time</mat-option>
    </mat-select>
  </mat-grid-tile>
  
</mat-grid-list>
</div>

</mat-card>