<mat-card >
  <mat-card-header class="matcard-header-rounded-top-left">
        <mat-card-title>Transfer List Filtering</mat-card-title>
      </mat-card-header>
<div class="mat-elevation-z1" style="background-color: whitesmoke; height: 65px;" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div flex>
    <button mat-raised-button  style="background-color: gainsboro;" (click)="jobclassSelect.open()" >
     {{this.selectedJobClassDescription}}
        <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
    <mat-select style="visibility:hidden;width: 0"
            #jobclassSelect
            [formControl]="jobClassFormControl"
            [disableOptionCentering]="true">
      <mat-option *ngFor="let jobclass of jobClasses" [value]="stringifyJobClassObject(jobclass)" >
        {{jobclass.description}}
        </mat-option>
    </mat-select>
  </div>
  <div flex>
    <button mat-raised-button  style="background-color: gainsboro;" (click)="facilitySelect.open()" >
        {{this.selectedFacilityDescription}}
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
    <mat-select style="visibility:hidden;width: 0"
            #facilitySelect
            [formControl]="facilityFormControl"
            [disableOptionCentering]="true">
      <mat-option *ngFor="let facility of facilities" [value]="stringifySelectObject(facility)" >
        {{facility.description}}
        </mat-option>
    </mat-select>
  </div>
  <div flex>
      <button mat-raised-button  style="background-color: gainsboro;" (click)="functionalUnitSelect.open()" >
          {{this.selectedFunctionalUnitDescription}}
        <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
      </button>
      <mat-select style="visibility:hidden;width: 0"
            #functionalUnitSelect
            [formControl]="functionalUnitFormControl"
            [disableOptionCentering]="true">
      <mat-option *ngFor="let functionalUnit of functionalUnits" [value]="stringifySelectObject(functionalUnit)" >
        {{functionalUnit.description}}
        </mat-option>
      </mat-select>      
    </div>
  <div flex>
    <button mat-raised-button  style="background-color: gainsboro;" >1st Shift
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
  </div>
  <div flex>
    <button mat-raised-button  style="background-color: gainsboro;  " (click)="ftptSelect.open()" >Full-Time
      <mat-icon style="margin-left:10px;">filter_list</mat-icon> 
    </button>
    <mat-select style="visibility:hidden;width: 0"
            #ftptSelect
            [formControl]="ftptFormControl"
            [disableOptionCentering]="true">
      <mat-option value="0">Both</mat-option>
      <mat-option value="1">Full-Time</mat-option>
      <mat-option value="2">Part-Time</mat-option>
    </mat-select>
  </div>
 
</div>

</mat-card>