<mat-card >
  <div class="mat-elevation-z1">
  <mat-form-field style="margin-top:20px; width:275px; margin-left: 10px;" color="primary">
    <mat-label>Job Class</mat-label>
    <select matNativeControl placeholder="Select Job Class" [formControl]="jobClassFormControl" name="jobclass">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let jobclass of jobClasses" [value]="stringifyJobClassObject(jobclass)" >
        {{jobclass.description}}
        </option>
    </select>
    <mat-error *ngIf="jobClassFormControl.hasError('required')">
        Please select a job class
    </mat-error>
  </mat-form-field>
</div>
<mat-card-header class="matcard-header-rounded-top-left">
  <mat-card-title>My Transfer List - {{this.selectedJobClassDescription}}</mat-card-title>
</mat-card-header>
<div class="mat-elevation-z1">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Facility Column -->
    <ng-container matColumnDef="facilityShortDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Facility </mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.facilityShortDescription}} </mat-cell>
    </ng-container>

    <!-- Functional Unit Column -->
    <ng-container matColumnDef="functionalUnitDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Functional Unit </mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.functionalUnitDescription}} </mat-cell>
    </ng-container>

    <!-- Shift Column -->
    <ng-container matColumnDef="shiftDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Shift </mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.shiftDescription}} </mat-cell>
    </ng-container>

    <!-- FT / PT Column -->
    <ng-container matColumnDef="ft_PT_Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FT/PT </mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.ft_PT_Description}} </mat-cell>
    </ng-container>

     <!-- FT / PT Column -->
    <ng-container matColumnDef="addedToListDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.addedToListDateTime}} </mat-cell>
    </ng-container>

      <!-- Delete Button Column -->
    <ng-container matColumnDef="deleteButtonColumn">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let myTransferListItem">
        <button mat-button color="primary" (click)="deleteTransferList('faraclass', myTransferListItem.jobCode4,
                                                    myTransferListItem.facility_ID, myTransferListItem.chrtFldDeptId, 
                                                    myTransferListItem.shiftCd, myTransferListItem.ft_PT_Code  )" >
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{highlighted: selectedRowIndex == row.id}"  (click)="highlight(row)" >
  </mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
    No transfer lists found ...
  </div>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>


</mat-card>
<div class="sticky-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="sticky-footer-left" flex>
            <P style="margin-left: 30px;">My Transfer List</P>
    </div>
    <div class="sticky-footer-center" flex>
      <button mat-raised-button color="primary" (click)="deleteAllTransferLists()">Delete All</button>
      <button mat-raised-button color="primary" style="margin-left: 10px; margin-right: 10px;" >Add to Transfer List</button>
      <button mat-raised-button color="primary" >Print</button>
    </div>
    <div class="sticky-footer-right" flex >
       &nbsp; 
    </div>
</div>




