<div style="align-content: center; width:99%; margin-left:5px;margin-top:5px;" fxLayout="row" fxLayoutAlign="space-between start">
  <img  flex src="./assets/images/DMHAS-TransferList-Wide.jpg"  style="align-self: left;">
  <img flex alt="DMHAS Logo" id="Img2" runat="server" src="./assets/images/DMHASLogo.gif" style="align-self: right;"/>
</div>
<!-- skipLocationChange is preventing parameters and routing from appearing in the URL -->
<!-- ================================================================================= -->
<nav mat-tab-nav-bar style="margin-left: 190px">
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link" skipLocationChange
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav>
<mat-sidenav-container  class="sidenav-container" >
  <mat-sidenav 
      [fixedInViewport]="true"
      [fixedTopGap]="106"
      [fixedBottomGap]="0" 
      mode="side" opened="true" 
      class="sidenav">
          <button mat-button [matMenuTriggerFor]="tools" style="margin-left:20px;">Tools</button>
          <mat-menu #tools="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="docs">Documentation</button>
            <button mat-menu-item (click)="openEmployeeProfile()">Employee Profile</button>
            <button mat-menu-item >Add to Transfer Lists</button>
            <button mat-menu-item >Delete Transfer Lists</button>
            <button mat-menu-item >Employee Seniority</button>
            <button mat-menu-item >Delete ALL Transfer Lists</button>
            <button mat-menu-item >Functional Unit Setup</button>
          </mat-menu>
          <mat-menu #docs="matMenu">
            <button mat-menu-item >Training Guides</button>
            <button mat-menu-item >Facilities and Functional Units</button>
            <button mat-menu-item >Functional Job Descriptions</button>
          </mat-menu>
          <button mat-icon-button style="margin-left: 40px; margin-top: 10px; color: gray;">
            <mat-icon >home</mat-icon> 
          </button>
          <mat-slide-toggle class="logoff-slider-toggle">Log Off</mat-slide-toggle>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" >
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
