<div mat-dialog-title class="dialog-header-rounded-left"><p style="margin-left:10px; margin-top:0px !important;">Functional Unit Setup</p></div>
<div class="gray-rounded-section-topper"></div>
<div class="mat-elevation-z1" style="width: 100%">
 
  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Job Class</mat-label>
    <select matNativeControl placeholder="Select Job Class" [formControl]="jobClassFormControl" name="jobclass" style="padding-left: 10px;">
        <option value="" label= "-- Select One --" selected ></option>
        <option *ngFor="let jobclass of jobClasses" [value]="jobclass.code"  >
        {{jobclass.description}}
        </option>
    </select>
    <mat-error *ngIf="jobClassFormControl.hasError('required')">
        Please select a job class
    </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Facility</mat-label>
    <select matNativeControl placeholder="Select Facility" [formControl]="facilityFormControl" name="facility">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let facility of facilities" [value]="facility.code" >
        {{facility.description}}
        </option>
    </select>
    <mat-error *ngIf="facilityFormControl.hasError('required')">
        Please select a facility
    </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top:20px; width:400px; margin-left: 10px;" color="primary">
    <mat-label>Functional Unit</mat-label>
    <select matNativeControl placeholder="Select Functional Unit" [formControl]="functionalUnitFormControl" name="functionalunit">
        <option value="" label= "-- Select One --" selected></option>
        <option value="---" label= "All" ></option>
        <option *ngFor="let functionalunit of functionalUnits" [value]="functionalunit.chrtFld_Dept_ID" >
        {{functionalunit.description}}
        </option>
    </select>
    <mat-error *ngIf="functionalUnitFormControl.hasError('required')">
        Please select a functional unit
    </mat-error>
  </mat-form-field>

    

  <mat-dialog-actions style="margin-left:50px;">
    
      
        <button mat-raised-button color="primary" (click)="saveFunctionalUnits(this.selectedJobClass, this.selectedFacility, this.selectedFunctionalUnit)">Save Functional Unit</button>
        <button mat-raised-button color="primary" (click)="resetAll()"  >Clear Selections</button>
        <button mat-raised-button color="primary" (click)="closePopup()" >Close</button>

  </mat-dialog-actions>
</div>